<% provide(:title, 'Home') %>
<% if signed_in? %>
  <div class="row">
    <aside class="span5">
      <section>
       <h2> Winners from previous seasons </h2>
      </section>
    </aside>
  </div>  
<% else %>
  <div class="center hero-unit">
    <h1>Welcome to Chynidol 2012</h1>

  </div>
  <%= render 'shared/new_session_form' %>
  <%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
<% end %> 

