<% provide(:title, 'Home') %>
<% if signed_in? %>
  <div class="center hero-unit">
    <%= image_tag("cy-6.png", :alt => "ChynIdol",  :size => "180x170") %>
    <h1>Welcome to ChynIdol 2012</h1>
  </div>
  
<% else %>
  <div class="center hero-unit">
    <%= image_tag("cy-6.png", :alt => "ChynIdol",  :size => "120x110") %>
    <h1>Welcome to ChynIdol 2012</h1>

  </div>
  <%= render 'shared/new_session_form' %>
<% end %> 
<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>

